<!DOCTYPE html>
<html>
<head>
    <title>SignIn</title>

</head>
<body>
    {% for message in messages %}
    <div>
        <strong class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">Message: </strong>{{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true"></spanaria-hidden>&times;</span></button>
    </div>
    {% endfor %}
    <h3>Signin Page</h3>
    <form action="/signin" method="post">
        {% csrf_token %}
        <label for="">UserName</label>
        <input type="text" id="username" name="username" placeholder="Create Username"><br>

        <label for="">Password</label>
        <input type="password" id="pass1" name="pass1" placeholder="Enter Password"><br>

        <button type="submit">Sign In</button>
    
    </form>
</body>
</html>