{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Winter of Code - SignUp</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <style>
        .form-group{
            margin-top: 10px;
        }
    </style>
</head>
<body>
    {% for message in messages %}
    <div>
        <strong class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">Message: </strong>{{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true"></spanaria-hidden>&times;</span></button>
    </div>
    {% endfor %}
    <div class="container">
        <h1 class="text-center mt-3">Winter of Code Sign Up</h1>
        <form action="/signup" method="post" style="border: 2px #000 solid;padding: 20px;">
            {% csrf_token %}
            <div class="form-group">
                <label for="" class="form-label">UserName</label>
                <input class="form-control" type="text" id="username" name="username" placeholder="Create Username">
            </div>
            <div class="form-group">
                <label for="" class="form-label">First Name</label>
                <input class="form-control" type="text" id="fname" name="fname" placeholder="Enter First Name">
            </div>
            <div class="form-group">
                <label for="" class="form-label">Last Name</label>
                <input class="form-control" type="text" id="lname" name="lname" placeholder="Enter Last Name">
            </div>
            <div class="form-group">
                <label for="" class="form-label">Email Address</label>
                <input class="form-control" type="email" id="email" name="email" placeholder="Enter Email">
            </div>
            <div class="form-group">
                <label for="" class="form-label">Password</label>
                <input class="form-control" type="password" id="pass1" name="pass1" placeholder="Enter Password">
            </div>
            <div class="form-group">
                <label for="" class="form-label">Confirm Password</label>
                <input class="form-control" type="password" id="pass2" name="pass2" placeholder="Enter Password Again"><br>
        
                <button type="submit" class="form-control btn-primary">Submit</button>
            </form>
            </div>
        </body>
        </html>



<!-- <!DOCTYPE html>
<html>
<head>
    <title>SignUp</title>
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    {% for message in messages %}
    <div>
        <strong class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">Message: </strong>{{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true"></spanaria-hidden>&times;</span></button>
    </div>
    {% endfor %}
    <div class="container">
    <form action="/signup" method="post">
        {% csrf_token %}
        <label for="" class="form-label">UserName</label>
        <input class="form-control" type="text" id="username" name="username" placeholder="Create Username"><br>

        <label for="" class="form-label">First Name</label>
        <input class="form-control" type="text" id="fname" name="fname" placeholder="Enter First Name"><br>

        <label for="" class="form-label">Last Name</label>
        <input class="form-control" type="text" id="lname" name="lname" placeholder="Enter Last Name"><br>

        <label for="" class="form-label">Email Address</label>
        <input class="form-control" type="email" id="email" name="email" placeholder="Enter Email"><br>

        <label for="" class="form-label">Password</label>
        <input class="form-control" type="password" id="pass1" name="pass1" placeholder="Enter Password"><br>

        <label for="" class="form-label">Confirm Password</label>
        <input class="form-control" type="password" id="pass2" name="pass2" placeholder="Enter Password Again"><br>

        <button type="submit" class="form-control btn-primary">Submit</button>
    </form>
    </div>
</body>
</html> -->