{% extends "blog/base.html" %}
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<header class="masthead" style="background-color: #007bff;">
    <div class="overlay"></div>
    <div class="container" >
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto" >
                <div class="site-heading" >
                    <p class=" site-heading my-4 mt-3 text-white" style="text-align: center; font-size: 40px; font-weight: bolder;"> Welcome to Interview Experience Blog </p>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-4 left">
            {% for post in post_list %}
            <div class="card border-dark mb-4">
                <h2 class="card-header">{{ post.title }}</h2>
                
                <div class="card-body">
                    <p class="card-text">{{post.content|slice:":200" }}</p>
                    <a href="{% url 'post_detail' post.slug userId %}" class="btn btn-primary" style="float:right">Read More &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    <p class="text-muted h6">{{ post.author_id }} | {{ post.created_on}} </p>
                  </div>
            </div>
            {% endfor %}
        </div>
        {% block sidebar %} {% include 'blog/sidebar.html' %} {% endblock sidebar %}
    </div>
    {% if is_paginated %}
        <nav aria-label="Page navigation conatiner"></nav>
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
        </nav>
        </div>
        {% endif %}
</div>
{%endblock%}
