{% extends "blog/base.html" %}
{% block content %}
<style>
    .card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  width: 50%;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-align: left;
  margin-bottom: 20px;
  background-color: white;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
  color: black;
}

.subtitle {
  font-size: 18px;
  color: grey;
  margin-bottom: 10px;
}

.date {
  font-size: 14px;
  color: black;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
  margin-bottom: 10px;
  max-height: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
}

.read-more {
  font-size: 16px;
  color: black;
  text-decoration: underline;
}
.page-link{
    float: right;
    color: ora;
    padding: 10px;
    border: 1px black solid;
    background-color: black;
}

</style>
<p style="text-align: center;"><button type="button" style="color:orange; border: 1px black solid; padding: 10px;background-color: black;width: 50%;" ><a href="/blog/createPost/0/{{userId}}" style="color: orange;">Create New Blog</a></button></p>
<div class="card-container">
    {% for post in post_list %}
    <div class="card">
      <h2 class="title">{{ post.title }}</h2>
      <h3 class="subtitle">{{ post.author_id }} | {{ post.created_on }}</h3>
      <p class="description">{{post.content|slice:":200" }}</p>
      <button type="button" style="float: right; background-color: orange;padding: 10px;border-radius: 5px; border: 1px orange ;width: 20%;"><a href="{% url 'createBlog' post.id userId %}" class="read-more">View and Edit</a></button>
    </div>
    {% endfor %}
    {% if is_paginated %}
        <nav aria-label="Page navigation conatiner"></nav>
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
        </nav>
        </div>
    {% endif %}
</div>

{%endblock%}